/*  ！！！重要 ！！！

css 设置有优先级，后边的会覆盖前边的定义


*.md.html 定义字体的 class 值为 font 
需要使用哪个字体就将哪个 @font-face 里字体的 class 的值(点开头，如 font-su ) 修改为 font。

字体样式另外设置，避免混用造成错误。

*/


/* 系统界面字体 */
@font-face {
    font-family: "system-ui";
  }
.font-ui {
     font-family: "system-ui";
   }

/* macType 美化软件使用的字体 */
@font-face {
    font-family: 'XHei_Intel';
    src: url('XHei_Intel.ttc');
    font-display: fallback;
  }
.font {
     font-family: 'XHei_Intel';
   }

/* 苹方 */ 
@font-face {
    font-family: 'Helvetica-Neue-2';
    src: url('Helvetica-Neue-2.ttf');
    font-display: swap;
  }
.fontpf {
     font-family: 'Helvetica-Neue-2';
   }


@font-face {
    font-family: 'web-font.woff2';
    src: url('web-font.woff2');
    font-display: swap;
  }
.fontw {
     font-family: 'web-font.woff2';
   }


@font-face {
    font-family: '';
    src: url('');
    font-display: swap;
  }
.fontfzcy {
     font-family: '';
   }


/* 正文 标题 字体样式 */
.title-font {
    font-size: 20;
    font-weight:bold;
}

/* 正文 主体 字体样式 */
.text-font {
    font-size: 16;
}

/*
正文 公号 字体颜色
紫罗兰色/BlueViolet
#8A2BE2

原文截图提取的字体颜色
#596c8d
*/

.gh-font {
    color:#596C8D;
}

# 公号信息弹出提示

/* 工具提示容器 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* 如果你想要悬停文本下的点 */
}

/* 工具提示文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: #f7f7f7;
/*    background-color: #2F4F4F; */
/*  color: #fff; */
    text-align: left;
    padding: 6px 6px; /* 边距 共4个参数，依次上右下左；只设置上或右，下左应用同样数值 */
	border: 1;
    border-radius: 5px;
 
  /* 定位工具提示文本 - 请参见下面的示例！ */
    position: absolute; /* 绝对位置 */
/*  position: relative; 相对位置 */
    z-index: 1;
    top: 13%;
    left: 34%;
    margin-left: -60px;
}


/* 当您将鼠标悬停在工具提示容器上时显示工具提示文本 */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* 公号弹出信息表格样式 */

/* 表格边框，脚本里设置了开关*/
.gh-table {
    border: 1px solid red;
}

/* 表格第一裂，信息分类标题 */ 
.gh-xxbt {
    width: 80;
    vertical-align: text-top;
/*    text-align: top; */
/*    border: 1px solid red; */
}


/* 公号弹出信息表格 未使用 */

.bottom-list .t-b-1 {
    border: 1px solid red;
    width: 80px;
    height: auto;
    font-size: 14px;
    text-align: left;
    line-height: auto;
}
.bottom-list .t-b-2 {
    border: 1px solid red;
    width: auto;
    height: auto;
    text-align: left;
    line-height: auto;
}



/* 行间距 可用数值(2.2)，px(30px)，百分比(%50) */
.line-height {
    line-height:30px;
}


/* 空行 */
.empty-line {
    border: 0px solid red;
    width: 100%;
    height: 0px;
    }


/* copyright box */
.crbox {
    display:inline-block;
    background-color: #f7f7f7;
    border-radius:5px;
    font-size: 13;
    text-align:center;
    width:35;
}

.link-font {
    font-family: 'XHei_Intel';
    font-size: 15;
}

.inline-block {
    display:inline-block;
    text-align: left;
}

/*  合集最外围 div 样式  */
.heji-box {
    border:0px solid;
    /* float:left; 飘浮，使整个div范围可点击 */
    /* padding: 10px 30px; 共4个参数，依次上右下左的距离 */

    /* margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 5px; */
    background: #f7f7f7;

    border-radius:5px; /* 圆角 */
    line-height: 26px;
    /* 行高，配合 height 使字体纵向居中 */
    /* text-align: center; */
    color: grey;
    font-size: 15;
    width: 100%;
    height: auto;
}

/* 单合集 div 靠右 */
.heji-wen-shu {
    float:right;
    padding-right: 16px;
}

.shoulu {
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 7px;
    /* width: auto; */
}

.Metro {
    border:0px solid;
    /* float:left; 飘浮，使整个div范围可点击 */
    /* padding: 10px 30px; 共4个参数，依次上右下左的距离 */
    /* margin-right:2px;
    margin-bottom:2px; */
    /* background:#f7f7f7; */

    border-radius:5px; /* 圆角 */
    /* line-height: 50px; 行高，配合 height 使字体纵向居中 */
    /* text-align: center; */
    /* color: #FFFF; */
    width: auto;
    /* height:50px; */
}


.Metro a {
    text-decoration:none;}

.Metro a:link {
    text-decoration:none;}
/* 未访问过的链接*/

.Metro a:visited {
    text-decoration:none;}
/* 已经访问过的链接 */

.Metro a:hover {
    text-decoration:none;}
/* 鼠标移动到链接上 */

.Metro a:active{
    text-decoration:none;}
/* 正在点击的链接*/ 


img.center { 

    display: block; 

    margin-left: auto; 

    margin-right: auto;

}
